@import url("https://fonts.googleapis.com/css2?family=Eczar&family=Rufina&display=swap");

$title-font: "Rufina", serif;
$text-font: "Eczar", serif;
$medium-font: 1.5rem;
$small-font: 1rem;

$theme-colour: #7fa0ac;
$primary-colour: #81d8d0;
$secondary-colour: #d0d7d7;
$card-colour: #7fa0ac;
$button-colour: #ef7783;
$white-colour: white;
$black-colour: black;
